* {
  margin: 0;
  padding: 0;
}
p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.half-width {
  width: 50%;
}

.container {
  margin: 0 15%;
}
.flexible-container {
  display: flex;
}
.stay-focused {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section {
  padding-bottom: 100px;
}
.button1 {
  display: block;
  text-decoration: none;
  background-image: linear-gradient(rgb(255, 136, 0), rgb(211, 85, 62));

  text-align: center;
  padding: 15px 40px;
  border-radius: 10px;
  color: aliceblue;
  font-weight: 900;
  margin-bottom: 30px;
  width: 150px;
}
.half-width img {
  width: 100%;
}

.my-mission {
  width: 100%;
}
.my-mission h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
#light-gray {
  background-color: rgba(181, 184, 184, 0.356);
}
#light-pink {
  background-color: rgba(250, 64, 250, 0.11);
}
#light-yellow {
  background-color: rgba(255, 255, 9, 0.247);
}
.card {
  height: 350px;
  width: 350px;
  background-color: tomato;
  border-radius: 20px;
  margin: 0 10px;
  padding: 20px;
}
.card-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.stay-head {
  font-size: 40px;
  margin-top: 20%;
  border-left: 5px solid red;
  font-family: "Luxurious Roman", cursive;
}
.stay-head h2 {
  margin-left: 20px;
}
.stay-head span {
  display: block;
}

.stay-head p span {
  padding-left: 2%;
}

.tomato {
  color: rgba(255, 68, 0, 0.589);
}
.card img {
  height: 100px;
  width: 100px;
}
.card p {
  margin-top: 10px;
}
.developer-banner {
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;

  background-position: 200px;
  background-position-y: center;
}
.one-third-width {
  width: 35%;
}
.one-third-width img {
  width: 100%;
}
.rest-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  width: 65%;
}
.rest-width-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
  width: 65%;
}

.rest-width h1 {
  font-size: 35px;
}
.rest-width-global h1 {
  font-size: 35px;
}
.rest-width div {
  margin-top: 20px;
}
.rest-width-global div {
  margin-top: 20px;
}
.global-banner {
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;

  background-position-y: bottom;
  background-position-x: right;
}
footer {
  background-color: rgb(24, 22, 29);
  text-align: center;
  color: aliceblue;
  padding: 30px 0;
}
footer h2 {
  padding: 15px;
}
footer h2 {
  font-family: "Luxurious Roman", cursive;
}
